caption{
    background-color: #0D5188;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}
table{
    background-color: #C7E7F3;
}

th{
    background-color: #66C5E3;
}

td{
    background-color: #C7E7F3;
    color: #0D5188;
}

.posicao{
    background-color: #C0C0C0;
    text-align: center;
    color: black;
}

.pop{
    text-align: center;
    color: black;
}

th:nth-child(2), th:nth-child(5){
    text-align: start;
}




