*{
    margin: 0;
    padding: 0;
}

#pagina{
    /* pagina 100% de largura */
    width: 100%;
    height: auto;
    /* pagina com bordas */
    /* width: 1200px */
    /* margin: 0 auto */
}

header{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    background-color: rgb(24, 104, 224);

}

#logo{
    width: 40px;
    height: 40px;
    margin: 0px 20px;
    background-color: black;
    border-radius: 40px;
    overflow: hidden;
    float: left;
}

#logo img{
    width: 100%;
    height: 100%;
    
}

nav{
    width: auto;
    height: 40px;
    float: right;
    margin: 0px 20px;
    line-height: 40px;
}

nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 0px 10px;
    padding: 0px 10px;
}

h1{
    text-align: center;
    margin: 20px 0px;
    color: rgb(3, 3, 39);
}

h2{
    text-align: center;
    margin: 20px 0px;
    color: rgb(89, 89, 209);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    margin: 20px 10px;
    color: rgb(89, 89, 209);
}

footer{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color:  rgb(24, 104, 224);
   
}