
main{
    width: 60%;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: rgb(107, 105, 105) 6px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner{
    width: 90%;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}

#banner img{
    width: 100%;
}





